<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>News - Travlr Getaways Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div class="box">
					<div id="news" class="body">
						<div class="sidebar">
							<h3>Latest News</h3>
							<ul>
								{{#each latestNews}}
								<li>
									<a href="/api/news/{{this.code}}">{{this.title}}</a>
								</li>
								{{/each}}
							</ul>
							<h3>Vacation Tips</h3>
							<ul>
								{{#each vacationTips}}
								<li>
									<a href="/api/news/{{this.code}}">{{this.title}}</a>
								</li>
								{{/each}}
							</ul>
						</div>
						<div>
							<h1>News</h1>
							<img src="images/{{mainArticle.image}}" alt="Img">
							<h2>{{mainArticle.title}}</h2>
							<span class="time">{{mainArticle.date}}<br> by: {{mainArticle.author}}</span>
							{{{mainArticle.content}}}
						</div>
					</div>
				</div>
			</div>
			{{> footer}}
		</div>
	</div>
</body>
</html>
